.recipeList{
    flex: 4;
    padding: 20px;
}
.recipeListCharts{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.recipeListChart{
    padding: 20px;
    box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
}

.recipeListSearch{
    margin-top: 20px;
}

.recipeListDataTable{
    margin-top: 10px;
}

.recipeTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipeAddButton{
    width: 160px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.recipeEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}