.productsContainer{
    flex: 5;
}

.productListContainer{
    display: flex;
}

.productList{
    flex: 3;
    padding: 20px;
    
}

.productTable{
    padding: 20px;
    box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
}

.productListTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.productListproduct{
    display: flex;
    align-items: center;
    
}

.productListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}

.product{
    flex: 1;
    padding: 20px;
}

.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.productContainer{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productShow{
    flex: 1;
    padding: 20px;
    box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
}

.productUpdate{
    flex: 2;
    padding: 20px;
    box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    margin-left: 20px;
}

.productShowTop{
    display: flex;
    align-items: center;
}

.productShowImg{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.productShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.productShowproductname{
    font-weight: 600;
}

.productShowproductRole{
    font-weight: 300;
}

.productShowBottom{
    margin-bottom: 20px;
}

.productShowTitle{
    font-style: 14px;
    font-weight: 600;
    color: rgb(175,170,170);

}

.productShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: #444;
}

.productShowIcon{
    font-style: 16px !important;
}

.productShowInfoTitle{
    margin-left: 10px;
}

.productUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}

.productUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.productUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.productUpdateItem>label{
    margin-bottom: 5px;
    font-size: 14px;
}

.productUpdateInput{
    border: none;
    width: 250px;
    border-bottom: 1px solid grey;
}

.productUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productUpdateUpload{
    display: flex;
    align-items: center;
}

.productUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.productUpdateIcon{
    cursor: pointer;
}

.productUpdateButton{
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-weight: 600;
}

.productCreateTitleContainer{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productCreateContainer{
    display: flex;
    padding: 20px;
    width: 600px;
    margin-top: 20px;
    box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -webkit-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
    -moz-box-shadow: -1px 2px 15px 2px rgba(0,0,0,0.10);
}

.productCreateForm{

}

.productInput{
    margin-top: 10px;
    margin-bottom: 20px;
}

.nameInput{
    width: 500px;
}

.roleInput{
    width: 500px;
}

.emailInput{
    width: 500px;
}

.passwordInput{
    width: 500px;
}

.productCreatePhoto{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCreateImg{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.productPhotoUpdateButton{
    border: none;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
    font-weight: 600;
}

.searchBar{
    margin-bottom: 5px;
}

.expirationCalendar{
    margin-top: 10px;
    width: 550px;
}

.p-calendar{
    width: 550px;
}

.userSearch{
    margin-top: 10px;
}

.userDisplay{
    display: flex;
}
.addUserProductButton{
    margin-top: 10px;
    float: right;
}
